<html lang="en" >
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Angular Todo</title>
  <!-- Angular Material style sheet -->
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<style>
.toolbardemoBasicUsage md-toolbar md-icon.md-default-theme { color: white; }
.done {text-decoration: line-through;}
</style>
<body ng-app="TodoApp" ng-cloak ng-controller="TodoController">

  <md-sidenav class="md-sidenav-left" md-component-id="left"  md-whiteframe="4">

    <md-toolbar class="md-theme-indigo">
      <h1 class="md-toolbar-tools">Disabled Backdrop</h1>
    </md-toolbar>

    <md-content layout-margin>
      <p>
        This sidenav is not showing any backdrop, where users can click on it, to close the sidenav.
      </p>
      <md-button ng-click="toggleLeft()" class="md-accent">
        Close this Sidenav
      </md-button>
    </md-content>

  </md-sidenav>
  <md-content >


    <md-toolbar md-whiteframe="4">
      <div class="md-toolbar-tools">
        <md-button class="md-icon-button" ng-click="toggleLeft()">
          <md-icon md-font-set="material-icons">menu</md-icon>
        </md-button>

        <h2 flex md-truncate>{{ title }}</h2>
      </div>
    </md-toolbar>


    <md-list>
      <md-list-item ng-repeat="task in data">
        <md-checkbox ng-model="task.hecho" ng-change="data.$save(task)"></md-checkbox>
        <p ng-class="{'done': task.hecho}">{{task.titulo}}</p>
        <md-button class="md-secondary" ng-click="data.$remove(task)">
          <md-icon md-font-set="material-icons">delete</md-icon>
        </md-button>
      </md-list-item>
    </md-list>

    <md-fab-speed-dial class="md-fab-bottom-right" style="position: fixed">
      <md-fab-trigger>
      <md-button class="md-fab" ng-click="showPrompt($event)">
        <md-icon md-font-set="material-icons">add</md-icon>
      </md-button>

      </md-fab-trigger>
    </md-fab-speed-dial>

  </md-content>


  <!-- Angular Material requires Angular.js Libraries -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>

  <!-- Firebase Library -->
  <script src="https://www.gstatic.com/firebasejs/4.6.2/firebase.js"></script>

  <!-- AngularFire Library -->
  <script src="https://cdn.firebase.com/libs/angularfire/2.3.0/angularfire.min.js"></script>

  <!-- Angular Material Library -->
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>

  <!-- Your application bootstrap  -->
  <script type="text/javascript">
    firebase.initializeApp({
      apiKey: "AIzaSyAxge9RDWaO9THjwXNHbfQczO1Jkp1xFcU",
      authDomain: "tareas-todo.firebaseapp.com",
      databaseURL: "https://tareas-todo.firebaseio.com",
      projectId: "tareas-todo",
      storageBucket: "tareas-todo.appspot.com",
      messagingSenderId: "199523897655"
    });

    angular
      .module('TodoApp', ['ngMaterial', 'firebase'])
      .controller('TodoController', function($scope, $mdSidenav, $mdDialog, $firebaseArray) {
        $scope.title = 'Tareas AngularJS'

        var ref = firebase.database().ref('tareas');

        $scope.data = $firebaseArray(ref);

        $scope.toggleLeft = function() {
          $mdSidenav('left').toggle();
        }


        $scope.showPrompt = function(ev) {
          // Appending dialog to document.body to cover sidenav in docs app

          var confirm = $mdDialog.prompt()
            .title('Nueva Tarea')
            .placeholder('Titulo')
            .targetEvent(ev)
            .ok('Ok')
            .cancel('Cancelar');

          $mdDialog.show(confirm).then(function(result) {
            let nuevo = {
              creado: Date.now(),
              titulo: result,
              hecho: false,
              order: $scope.data.length
            };
            console.log(nuevo);
            $scope.data.$add(nuevo)
          });
        };


      })

  </script>

</body>
</html>

<!--
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that can be in foundin the LICENSE file at https://material.angularjs.org/license.
-->